/*
 @Author: Company Name
 @URL: http://companyname.com
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 01.	Theme Reset Style
 02.	Global Elements
 03.	Menu
 04.	Social
 05.	Article
 06.	Posts
 07.	Responsive
 08.	Widgets
 09.	Flexslider
 10.	Grid
*/

/* =============================================
			Theme Reset Style					
============================================= */
@font-face {
	font-family: 'sf_ui_displayblack';
	src: url('fonts/sf-ui-fonts/sf-ui-display-black-58646a6b80d5a-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-black-58646a6b80d5a-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sf_ui_displaybold';
	src: url('fonts/sf-ui-fonts/sf-ui-display-bold-58646a511e3d9-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-bold-58646a511e3d9-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sf_ui_displayheavy';
	src: url('fonts/sf-ui-fonts/sf-ui-display-heavy-586470160b9e5-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-heavy-586470160b9e5-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sf_ui_displaylight';
	src: url('fonts/sf-ui-fonts/sf-ui-display-light-58646b33e0551-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-light-58646b33e0551-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sf_ui_displaymedium';
	src: url('fonts/sf-ui-fonts/sf-ui-display-medium-58646be638f96-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-medium-58646be638f96-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sf_ui_displaysemibold';
	src: url('fonts/sf-ui-fonts/sf-ui-display-semibold-58646eddcae92-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-semibold-58646eddcae92-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sf_ui_displaythin';
	src: url('fonts/sf-ui-fonts/sf-ui-display-thin-58646e9b26e8b-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-thin-58646e9b26e8b-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sf_ui_displayultralight';
	src: url('fonts/sf-ui-fonts/sf-ui-display-ultralight-58646b19bf205-webfont.woff2') format('woff2'),
	url('fonts/sf-ui-fonts/sf-ui-display-ultralight-58646b19bf205-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
:root {--themecolor: #e52516;}
* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #666;
	background: #fff;
	min-width: 480px;
	font:400 14px/23px 'Montserrat', Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	margin: 0 0 8px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	color: var(--themecolor);
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
h1 { font-size: 48px;}
h2 { font-size: 36px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #0f0f0f;}
p a,
p a:hover { text-decoration:underline; }
p {
	margin: 0 0 20px;
	line-height: 20px;
	letter-spacing: normal;
}
a { text-decoration: none; }
a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
}
ul { margin: 0; }
figure {
	margin-bottom: 6px;
	position: relative;
}
img {
	height: auto;
	max-width: 100%;
}
strong { color: #414141; }
iframe {
	width: 100%;
	float: left;
	border: none;
}
.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor {}
.wp-caption.alignleft,
.wp-caption.alignnone { width: 100%; }
button { border: none; }
textarea,
select,
.at-select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #666;
	outline: none;
	height: 40px;
	background:#fff;
	font-size: 16px;
	-webkit-box-shadow: none;
			box-shadow: none;
	line-height: 18px;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	text-transform: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'sf_ui_displaymedium';
}
textarea.form-control{
	resize: none;
	height: 210px;
}
.form-control::-webkit-input-placeholder {color: #666; }
.form-control:-moz-placeholder { color: #666; }
.form-control::-moz-placeholder { color: #666; }
.form-control:-ms-input-placeholder { color: #666; }
.form-control::-ms-input-placeholder { color: #666; }
input:focus,
.select select:focus,
.form-control:focus {
	color: #3f464B;
	border-color: #666;
	-webkit-box-shadow:none !important;
			box-shadow:none !important;
}
.form-group {
	width: 100%;
	float: left;
	margin:0 0 20px;
}
label {
	color: #666;
	display: block;
	font-weight: 400;
	margin-bottom: 10px;
}
form p {
	float: left;
	position: relative;
	width: 100%;
}
form p span i {
	top: 13px;
	left: 16px;
	color: #474747;
	position: absolute;
}
option { padding: 5px 15px; }
li {
	line-height: 28px;
	list-style: disc inside none;
}
ul ul { margin-left: 20px; }
ol {
	float: none;
	list-style: decimal;
	padding-left: 15px;
}
ol ol { margin-left: 20px; }
ol li {
	list-style: decimal;
	width: 100%;
}
table {
	background-color: transparent;
	max-width: 100%;
}
th { text-align: left; }
table {
	width: 100%;
	margin-bottom: 15px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border-top: 1px solid #dbdbdb;
	border: 1px solid #dbdbdb;
	line-height: 2.5;
	padding-left: 3px;
	text-align: center;
	vertical-align: top;
}
table thead tr th {
	border-top: 1px solid #dbdbdb;
	text-align: center;
	text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td { border-top: 1px solid #dbdbdb; }
table > thead > tr > th {
	border-bottom: 2px solid #dbdbdb;
	vertical-align: bottom;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td { border-bottom: 0; }
table > tbody + tbody { border-top: 2px solid #dbdbdb; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 6px 10px;
	vertical-align: middle;
}
p ins { color: #666; }
dl dd { margin-left: 20px; }
address { font-style: italic; }
/* =============================================
			Theme Custom Select					
============================================= */
.at-select {
	color:#666;
	float:left;
	width: 100%;
	position: relative;
	text-transform:uppercase;
}
.at-select:after {
	top: 0;
	z-index: 2;
	right: 20px;
	opacity: 0.70;
	color: #416cdc;
	display: block;
	font-size: 12px;
	content: '\e900';
	line-height: 25px;
	position: absolute;
	text-align: center;
	pointer-events: none;
	font-family: 'icomoon';
}
.at-select select {
	border: 0;
	z-index: 1;
	color: #000;
	width: 100%;
	height: 40px;
	cursor: pointer;
	background: #fff;
	padding: 0 0 20px;
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	letter-spacing: 0.5px;
	border-radius: 0;
	border-bottom: 2px solid #DEE4EA;
	font-family: 'sf_ui_displaymedium';
}
.at-select select option { color:#666; }
/* =============================================
		Theme Custom CheckBox Radio				
============================================= */
.at-radio,
.at-radio label,
.at-checkbox,
.at-checkbox label {
	margin:0;
	width: 100%;
	float: left;
	position: relative;
}
.at-radio label,
.at-checkbox label {
	cursor:pointer;
	display:block;
	padding:0 0 0 20px;
}
.at-radio input[type=radio],
.at-checkbox input[type=checkbox] { display:none; }
.at-radio input[type=radio] + label:before,
.at-checkbox input[type=checkbox] + label:before {
	top: 4px;
	left: 0;
	content: '';
	width: 14px;
	height: 14px;
	border-radius: 4px;
	position: absolute;
	background: #E2E8F9;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.at-checkbox label:after{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.at-checkbox input[type=checkbox] + label:after{
	top: 4px;
	left: 4px;
	color: #fff;
	content: '';
	font-size: 7px;
	line-height: 14px;
	position: absolute;
	font-family: 'icomoon';
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.at-radio input[type=radio]:checked + label:after,
.at-checkbox input[type=checkbox]:checked + label:after,
.at-checkbox input[type=checkbox] + label:hover:after {content:'\ea30';}
/* =============================================
			Theme Global Elements				
============================================= */
.at-haslayout {
	width:100%;
	float:left;
}
.at-sectionspace {padding: 100px 0;}
.at-locationmap {
	width: 100%;
	float: left;
	height: 500px;
}
.at-btn {
	padding: 0 30px;
	position:relative;
	text-align:center;
	border-radius: 50px;
	display: inline-block;
	vertical-align: middle;
	background: transparent;
	color: var(--themecolor);
	text-transform: capitalize;;
	border: 1px solid var(--themecolor);
	font:500 16px/50px 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-btn:hover,
.at-btn:focus,
.at-btn.at-btnactive{
	color:#fff;
	background: var(--themecolor);
	-webkit-box-shadow: 0 0 10px 0 rgba(255,41,28,0.2);
	box-shadow: 0 0 10px 0 rgba(255,41,28,0.2);
}
.at-btn-lg { width: 100%;}
.at-socialicons {
	overflow: hidden;
	list-style: none;
	text-align:center;
	line-height: 34px;
}
.at-socialicons li {
	float: left;
	padding: 0 4px;
	line-height: inherit;
	list-style-type: none;
}
.at-socialicons li a {
	width: 34px;
	height: 34px;
	color: #fff;
	display:block;
	background:#000;
	overflow:hidden;
	font-size: 13px;
	line-height: 34px;
	position:relative;
	text-align: center;
	border-radius: 34px;
	text-transform:capitalize;
}
.at-inputwithicon.at-facebook .at-icon,
.at-checkbox.at-facebook,
li.at-facebook a { background:#3b5999; }
.at-inputwithicon.at-twitter .at-icon,
.at-checkbox.at-twitter,
li.at-twitter a { background:#55acee; }
.at-inputwithicon.at-linkedin .at-icon,
.at-checkbox.at-linkedin,
li.at-linkedin a { background:#0077B5; }
.at-inputwithicon.at-skype .at-icon,
.at-checkbox.at-skype,
li.at-skype a { background:#00aff0; }
.at-checkbox.at-dropbox,
li.at-dropbox a { background:#007ee5; }
.at-checkbox.at-vimeo,
li.at-vimeo a { background:#1ab7ea; }
.at-checkbox.at-tumblr,
li.at-tumblr a { background:#34465d; }
.at-checkbox.at-yahoo,
li.at-yahoo a { background:#410093; }
.at-inputwithicon.at-googleplus .at-icon,
.at-checkbox.at-googleplus,
li.at-googleplus a { background:#dd4b39; }
.at-inputwithicon.at-pinterestp .at-icon,
.at-checkbox.at-pinterestp,
li.at-pinterestp a { background:#bd081c; }
.at-checkbox.at-youtube,
li.at-youtube a { background:#cd201f; }
.at-checkbox.at-stumbleupon,
li.at-stumbleupon a { background:#eb4924; }
.at-checkbox.at-reddit,
li.at-reddit a { background:#ff5700; }
.at-checkbox.at-quora,
li.at-quora a { background:#b92b27; }
.at-checkbox.at-yelp,
li.at-yelp a { background:#af0606; }
.at-checkbox.at-soundcloud,
li.at-soundcloud a { background:#ff3300; }
.at-checkbox.at-whatsapp,
li.at-whatsapp a { background:#25d366; }
.at-checkbox.at-wechat,
li.at-wechat a { background:#09b83e; }
.at-checkbox.at-instagram,
li.at-instagram a { background:#e4405f; }
.at-checkbox.at-dribbble,
li.at-dribbble a { background:#ea4c89; }
.at-checkbox.at-flickr,
li.at-flickr a { background:#ff0084; }
.at-checkbox.at-rss,
li.at-rss a { background:#ff6600; }
.at-socialiconsborder li.at-facebook a {
	color: #3b5999;
	border: 1px solid #3b5999;
}
.at-socialiconsborder li.at-twitter a {
	color: #55acee;
	border: 1px solid #55acee;
}
.at-socialiconsborder li.at-linkedin a {
	color: #0077B5;
	border: 1px solid #0077B5;
}
.at-socialiconsborder li.at-skype a {
	color: #00aff0;
	border: 1px solid #00aff0;
}
.at-socialiconsborder li.at-dropbox a {
	color: #007ee5;
	border: 1px solid #007ee5;
}
.at-socialiconsborder li.at-vimeo a {
	color: #1ab7ea;
	border: 1px solid #1ab7ea;
}
.at-socialiconsborder li.at-tumblr a {
	color: #34465d;
	border: 1px solid #34465d;
}
.at-socialiconsborder li.at-yahoo a {
	color: #410093;
	border: 1px solid #410093;
}
.at-socialiconsborder li.at-googleplus a {
	color: #dd4b39;
	border: 1px solid #dd4b39;
}
.at-socialiconsborder li.at-pinterestp a {
	color: #bd081c;
	border: 1px solid #bd081c;
}
.at-socialiconsborder li.at-youtube a {
	color: #cd201f;
	border: 1px solid #cd201f;
}
.at-socialiconsborder li.at-stumbleupon a {
	color: #eb4924;
	border: 1px solid #eb4924;
}
.at-socialiconsborder li.at-reddit a {
	color: #ff5700;
	border: 1px solid #ff5700;
}
.at-socialiconsborder li.at-quora a {
	color: #b92b27;
	border: 1px solid #b92b27;
}
.at-socialiconsborder li.at-yelp a {
	color: #af0606;
	border: 1px solid #af0606;
}
.at-socialiconsborder li.at-soundcloud a {
	color: #ff3300;
	border: 1px solid #ff3300;
}
.at-socialiconsborder li.at-whatsapp a {
	color: #25d366;
	border: 1px solid #25d366;
}
.at-socialiconsborder li.at-wechat a {
	color: #09b83e;
	border: 1px solid #09b83e;
}
.at-socialiconsborder li.at-instagram a {
	color: #e4405f;
	border: 1px solid #e4405f;
}
.at-socialiconsborder li.at-dribbble a {
	color: #ea4c89;
	border: 1px solid #ea4c89;
}
.at-socialiconsborder li.at-flickr a {
	color: #ff0084;
	border: 1px solid #ff0084;
}
.at-socialiconsborder li.at-rss a {
	color: #ff6600;
	border: 1px solid #ff6600;
}
.at-socialiconsborder li a{
	background: none;
	line-height: 32px;
}
.at-socialiconsborder li.at-facebook a i{ color: #3b5999; }
.at-socialiconsborder li.at-twitter a i{ color: #55acee; }
.at-socialiconsborder li.at-linkedin a i{ color: #0077B5; }
.at-socialiconsborder li.at-skype a i{ color: #00aff0; }
.at-socialiconsborder li.at-dropbox a i{ color: #007ee5; }
.at-socialiconsborder li.at-vimeo a i{ color: #1ab7ea; }
.at-socialiconsborder li.at-tumblr a i{ color: #34465d; }
.at-socialiconsborder li.at-yahoo a i{ color: #410093; }
.at-socialiconsborder li.at-googleplus a i{ color: #dd4b39; }
.at-socialiconsborder li.at-pinterestp a i{ color: #bd081c; }
.at-socialiconsborder li.at-youtube a i{ color: #cd201f; }
.at-socialiconsborder li.at-stumbleupon a i{ color: #eb4924; }
.at-socialiconsborder li.at-reddit a i{ color: #ff5700; }
.at-socialiconsborder li.at-quora a i{ color: #b92b27; }
.at-socialiconsborder li.at-yelp a i{ color: #af0606; }
.at-socialiconsborder li.at-soundcloud a i{ color: #ff3300; }
.at-socialiconsborder li.at-whatsapp a i{ color: #25d366; }
.at-socialiconsborder li.at-wechat a i{ color: #09b83e; }
.at-socialiconsborder li.at-instagram a i{ color: #e4405f; }
.at-socialiconsborder li.at-dribbble a i{ color: #ea4c89; }
.at-socialiconsborder li.at-flickr a i{ color: #ff0084; }
.at-socialiconsborder li.at-rss a i{ color: #ff6600; }
.at-socialicons li a i {
	color: #fff;
	display:block;
	text-align:center;
	font-size: inherit;
	line-height: inherit;
}
.at-socialsharewithtext li a i{width: 34px;}
.at-socialicons li a:hover { color: #fff; }
.at-roundicontext .at-usericonholder {
	width: 250px;
	display: block;
	overflow: hidden;
	font-style: normal;
}
.at-roundicontext i,
.at-roundicontext span {
	float:left;
	font-size: inherit;
	line-height: inherit;
}
.at-roundicontext span { padding: 0 15px 0 0; }
.at-roundicontext:focus,
.at-roundicontext:hover {
	color: #fff;
	width: 100%;
}
.at-roundicontext:hover .at-usericonholder { width: 100%; }
.at-verticalmiddle {
	margin: 0 -1px;
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}
.at-description {
	width: 100%;
	float: left;
}
.at-bglight { background:#f7f7f7; }
.at-bgdark { background:#373542; }
.at-stars span,
.at-stars {
	width:100px;
	height: 16px;
	float: left;
	line-height:16px;
	position:relative;
}
.at-stars span:after,
.at-stars:before {
	top: 0;
	left: 0;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	letter-spacing: 4px;
	font-family: 'FontAwesome';
	color: rgba(218, 218, 218, .8);
	content: '\f005 \f005 \f005 \f005 \f005';
}
.at-stars span {
	width:75%;
	overflow: hidden;
}
.at-stars span:after {color:#000;}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*="col-"],
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.menu-item-has-children{ position: relative; }
.at-formtheme{
	width:100%;
	float:left;
}
.at-formtheme fieldset{
	border:0;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	position:relative;
}
.at-inputwithicon{position:relative;}
.at-inputwithicon i{
	top:0;
	right:0;
	z-index:2;
	width:40px;
	height:40px;
	line-height:40px;
	position:absolute;
	text-align: center;
	pointer-events: none;
}
.at-inputwithicon .form-control{
	z-index:1;
	position:relative;
}
/* =============================================
			Theme Pagination Style				
============================================= */
.at-pagination {
	width:100%;
	float: left;
	font:14px/24px 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-pagination ul {
	margin:0;
	padding:0;
	float:right;
	list-style:none;
	text-align: center;
	line-height: inherit;
}
.at-pagination ul li {
	float:left;
	margin:0 6px;
	line-height: inherit;
	list-style-type:none;
}
.at-pagination ul li.at-prevpage { margin-left:0; }
.at-pagination ul li.at-nextpage { margin-right:0; }
.at-pagination ul li a{
	width:20px;
	display:block;
	color:#373542;
	text-align:center;
	position:relative;
	line-height: inherit;
}
.at-pagination ul li.at-nextpage a,
.at-pagination ul li.at-prevpage a {
	width:auto;
	font-size: 20px;
	overflow:hidden;
	position:relative;
}
.at-pagination ul li.at-nextpage a { padding:0 0 0 25px; }
.at-pagination ul li.at-prevpage a { padding:0 25px 0 0; }
.at-pagination ul li.at-nextpage a:after,
.at-pagination ul li.at-prevpage a:after {
	top:50%;
	opacity:0;
	content:'';
	width:15px;
	height:1px;
	background:#373542;
	position:absolute;
	visibility:hidden;
}
.at-pagination ul li.at-nextpage a:after { right:50px; }
.at-pagination ul li.at-prevpage a:after { left:50px; }
.at-pagination ul li.at-nextpage a:hover:after,
.at-pagination ul li.at-prevpage a:hover:after {
	opacity:1;
	visibility:visible;
}
.at-pagination ul li.at-nextpage a:hover:after { right:2px; }
.at-pagination ul li.at-prevpage a:hover:after { left:2px; }
/* =============================================
			Theme BreadCrumb Style				
============================================= */
.at-breadcrumb {
	padding: 0;
	margin:0;
	color: #fff;
	float: right;
	list-style: none;
	text-align: right;
	text-transform: uppercase;
	font:14px/44px 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-breadcrumb li {
	width:auto;
	list-style-type:none;
	display: inline-block;
	vertical-align: middle;
	line-height:inherit;
	padding:0 15px;
	position:relative;
}
.at-breadcrumb li:after {
	top:0;
	left:-3px;
	content:'-';
	position:absolute;
}
.at-breadcrumb li:last-child { padding: 0 0 0 15px;}
.at-breadcrumb li:first-child:after { display: none; }
.at-breadcrumb li a {
	display:block;
	color:#fff;
}
/* =============================================
			Theme Styling						
============================================= */
.at-home {}
.at-wrapper {
	overflow: hidden;
	padding: 70px 0 0 0;
}
.at-main {padding: 65px 30px 30px;}
.at-content{
	width: 100%;
	float: left;
}
.at-contentholder{
	width: 100%;
	float: left;
	border-radius: 5px;
	/* -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); */
}
/* =============================================
		Login Forgot Password Style
============================================= */
.at-loginarea{
	width: 100%;
	float: left;
	background: #f7f7f7;
}
.at-loginlogo{
	width: 73px;
	margin: 0 auto;
	overflow: hidden;
}
.at-logincontentarea{
	width: 100%;
	overflow: hidden;
	margin: 40px auto;
	min-height: 600px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: calc(100vh - 80px);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.at-formlogin{
	width: 100%;
	float: none;
	padding: 40px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 400px;
	background: #fff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.at-formtheme fieldset legend{
	width: 100%;
	float: left;
	color: #999;
	font-size: 26px;
	margin: 0 0 50px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-formtheme  fieldset .form-group label{
	width: 100%;
	float: left;
	color: #000;
	font-size: 16px;
	text-align: left;
	margin: 0 0 15px;
	line-height: 18px;
	font-family: 'sf_ui_displaymedium';
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.at-formtheme fieldset .form-group .form-control{
	border: 0;
	font-size: 14px;
	line-height: 14px;
	padding: 0 0 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom: 2px solid #DEE4EA;
}
.at-btnarea{
	width: 100%;
	float: left;
	padding: 15px 0 0;
	cursor: pointer;
}
.at-btnarea .at-btn{width: 100%;}
.at-btnarea .at-btn + .at-btn{margin: 25px 0 0;}
.at-btnforgotpassword{
	color: #7c7c7c;
	font-size: 16px;
	margin: 35px 0 0;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-btnforgotpassword:hover,
.at-btnforgotpassword:focus{
	color: #7c7c7c;
	text-decoration: none;
}
.at-signupcontentarea{
	width: 100%;
	overflow: hidden;
	margin: 40px auto;
	min-height: 995px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: calc(100vh - 80px);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.at-formsignup{
	width: 100%;
	float: none;
	padding: 40px;
	margin: 0 auto;
	overflow: hidden;
	max-width: 450px;
	background: #fff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.at-alreadymemeber{
	width: 100%;
	float: left;
	color: #7c7c7c;
	font-size: 16px;
	font-weight: 500;
	padding: 20px 0 0;
	line-height: 16px;
	text-align: center;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-alreadymemeber a{
	display: inline-block;
	vertical-align: middle;
	color: var(--themecolor);
}
/* =============================================
			Header Style					
============================================= */
.at-header {
	top: 0;
	left: 0;
	z-index: 10;
	position: fixed;
	padding: 10px 20px;
	background: var(--themecolor);
}
.at-leftarea{float: left;}
.at-logo{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
}
.at-logo,
.at-leftarea h1{
	display: inline-block;
	vertical-align: middle;
}
.at-logo a{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.at-logo a img{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.at-leftarea h1{
	margin: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	margin: 0 0 0 15px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-rightarea{float: right;}
.at-dropdown{position: relative;}
.at-dropdown figure{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 10px 0 0;
	border: 1px solid #fff;
}
.at-dropdown figure,
.at-dropdown > a,
.at-dropdown > a span,
.at-dropdown > a i{
	display: inline-block;
	vertical-align: middle;
}
.at-dropdown figure a,
.at-dropdown figure a img{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.at-dropdown figure a img{
	width: 100%;
	object-fit: cover;
}
.at-dropdown > a{color: #fff;}
.at-dropdown > a span{padding-right: 10px;}
.at-dropdown ul{
	right: 0;
	margin: 0;
	padding: 0;
	left: auto;
	width: 220px;
	z-index: 100;
	list-style: none;
	min-width: 160px;
	background: #fff;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	position: absolute;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-webkit-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.at-dropdown ul li{
	width: 100%;
	float: left;
	padding: 10px 20px;
	list-style-type: none;
}
.at-dropdown ul li + li{border-top: 1px solid #efefef;}
.at-dropdown ul li a{
	width: 100%;
	float: left;
	color: #858585;
}
.at-dropdown ul li a:hover{
	background: none;
	color: var(--themecolor);
}
.at-dropdown ul li a i{
	line-height: inherit;
	display: inline-block;
	vertical-align: middle;
}
.at-dropdown ul li a i:before{line-height: 18px;}
.at-dropdown ul li a i.icon-editprofile{font-size: 20px;}
.at-dropdown ul li a i.icon-logout{font-size: 14px;}
.at-btnaddcard{
	width: 20px;
	height: 20px;
	margin: 15px 0;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: var(--themecolor);
}

.at-dropdown,
.at-btnaddcard,
.at-btnfilters,
.at-btnsetting,
.at-formsearchhead{
    display: inline-block;
    vertical-align: middle;
}
.at-btnfilters,
.at-btnsetting{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 0 0 0 10px;
}
.at-btnfilters{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.at-btnfilters:hover,
.at-btnsetting:hover,
.at-btnfilters:focus,
.at-btnsetting:focus{color: #fff;}
.at-formsearchhead{
    width: auto;
    float: none;
    margin: 0 15px 0 0;
}
.at-formsearchhead .form-group{
    margin: 0;
    position: relative;
}
.at-formsearchhead .form-group i{
    top: 50%;
    left: 20px;
    color: #fff;
    position: absolute;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.at-formsearchhead .form-group input{
    border: 0 !important;
    height: 40px;
    color: #fff;
    padding: 10px 20px 10px 50px !important;
    background: #d4403f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
}

.at-formsearchhead .form-group input::-webkit-input-placeholder {color: #fff; }
.at-formsearchhead .form-group input:-moz-placeholder { color: #fff; }
.at-formsearchhead .form-group input::-moz-placeholder { color: #fff; }
.at-formsearchhead .form-group input:-ms-input-placeholder { color: #fff; }
.at-formsearchhead .form-group input::-ms-input-placeholder { color: #fff; }


.at-nav{
	width: auto;
	float: none;
	overflow: hidden;
    /*width: 100%;*/
    /*float: left;*/
    padding: 15px 0 0;
    text-align: center;
}
.at-nav ul{
    width: 100%;
    float: left;
    font-size: 16px;
    list-style: none;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-nav ul li{
    padding: 0 15px;
    position: relative;
    line-height: inherit;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
.at-nav ul li:before{
    left: 0;
    width: 0;
    bottom: 0;
    content: '';
    height: 5px;
    position: absolute;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.at-nav ul li:hover:before,
.at-nav ul li.active:before{width: 100%;}
.at-nav ul li a{
    color: #fff;
    display: block;
    padding: 0 0 15px;
    position: relative;
}

/* =============================================
			Dashboard Style					
============================================= */
.at-dashboard{
	width: 100%;
	float: left;
}
.at-contenthead{
	width: 100%;
	float: left;
	padding: 20px;
	border-radius: 5px;
	background: #3a3a3a;
}
.at-contenthead h2{
	margin: 0;
	float: left;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	padding: 8px 0 8px 15px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-btnback{
	float: left;
	font-size: 16px;
	line-height: 35px;
}
.at-contentbox{
	width: 100%;
	float: left;
	padding: 30px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.at-formsearch {
	float: right;
	max-width: 300px;
}
.at-formsearch fieldset .form-group{margin: 0;}
.at-formsearch fieldset .form-group .form-control{
	border: 0;
	color: #999;
	height: 35px;
	padding: 10px 0;
	background: none;
	font-weight: 400;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-formsearch fieldset .form-group .form-control::-webkit-input-placeholder {color: #eee; }
.at-formsearch fieldset .form-group .form-control:-moz-placeholder { color: #eee; }
.at-formsearch fieldset .form-group .form-control::-moz-placeholder { color: #eee; }
.at-formsearch fieldset .form-group .form-control:-ms-input-placeholder { color: #eee; }
.at-formsearch fieldset .form-group .form-control::-ms-input-placeholder { color: #eee; }
.at-formsearch fieldset .form-group i{
	color: #999;
	width: 50px;
	color: #eee;
	height: 35px;
	font-size: 15px;
	line-height: 35px;
}
.at-cards{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.at-card{
	padding: 25px;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.at-cardhead{
	width: 100%;
	float: left;
	padding: 0 0 15px;
}
.at-cardhead h3{
	margin: 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-cardhead h3 a{display: block;}
.at-cardhead h3 a:hover{color: var(--themecolor);}
.at-card .at-description{min-height: 105px;}
.at-card .at-description p{
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-cardbottom{
	
}
.at-btnactions{
	clear: both;
	font-size: 20px;
	overflow: hidden;
	list-style: none;
	line-height: 20px;
}
.at-btnactions li{
	float: left;
	padding: 15px 20px;
	list-style-type: none;
}
.at-btnactions li + li{border-left: 1px solid #ddd;}
.at-btnactions li:last-child{float: right;}
.at-btnactions li a,
.at-btnactions li button{
	color: #666;
	display: block;
}
.at-btnactions li button{background: transparent;}
.at-btnactions li a i.icon-delete:before,
.at-btnactions li button i.icon-delete:before{color: #666;}
.at-btnactions li:hover a i,
.at-btnactions li:hover a i.icon-delete:before,
.at-btnactions li:hover button i.icon-delete:before{color: var(--themecolor);}
/* =============================================
			Dashboard Style					
============================================= */
.at-addcard{
	width: 100%;
	float: left;
	/*display: none;*/
}
.at-addcard .at-contentholder{
	float: none;
	margin: 0 auto;
	max-width: 550px;
	/* overflow-x: hidden; */
}
.at-addcard .at-contentholder:after{
	content: '';
	clear: both;
	display: block;
}
.at-formaddcard .form-group textarea{
	width: 100%;
	float: left;
	resize: none;
	height: 250px;
	padding: 25px;
}
.at-formaddcard .form-group .at-btnactions{
	margin: 0;
	border: 0;
	width: 100%;
	float: left;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
    background: #efefef;
}
.at-formaddcard .form-group .at-btnactions li{
	float: none;
	padding: 15px 10px;
	display: inline-block;
	vertical-align: middle;
}
.at-formaddcard .form-group .at-btnactions li + li{border: 0;}
.at-formaddcard .form-group .at-btnactions li i,
.at-formaddcard .form-group .at-btnactions li a i{color: var(--themecolor);}
.at-fileupload{
	width: 100%;
	float: left;
}
.at-fileupload input[type=file]{display: none;}
.at-fileupload input[type=file] + label{
	margin: 0;
	opacity: 1;
	cursor: pointer;
}
.at-panel,
.at-accordion{
	width: 100%;
	float: left;
}
.at-panelcontent{
	width: 100%;
	float: left;
	padding: 20px;
	background: #fff;
	margin: 0 0 10px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.at-panelcontent .at-checkbox em{
	font-style: normal;
	padding: 0 15px 0 0;
}
.at-panelcontent .at-description textarea{
	width: 100%;
	resize: none;
	height: 200px;
}
.at-panel h4{
	width: 100%;
	float: left;
	color: #000;
	padding: 20px;
	font-size: 18px;
	cursor: pointer;
	font-weight: 500;
	margin: 0 0 10px;
	background: #fff;
	line-height: 18px;
	position: relative;
	border-radius: 5px;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-panel h4.active{margin: 0;}
.at-panel h4 i{
	top: 50%;
	right: 20px;
	position: absolute;
	-webkit-transform: translateY(-50%);
	 -moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.at-panel h4:hover i,
.at-panel h4.active i{
	top: 22px;
	right: 30px;
	 -moz-transform: rotate(90deg) translateY(-50%);
	-webkit-transform: rotate(90deg) translateY(-50%);
	-o-transform: rotate(90deg) translateY(-50%);
	-ms-transform: rotate(90deg) translateY(-50%);
	transform: rotate(90deg) translateY(-50%); 
}
.at-checkboxes{
	width: 100%;
	float: left;
}
.at-checkboxes .at-checkbox + .at-checkbox{margin: 10px 0 0;}
.at-checkboxes .at-checkbox input[type=checkbox] + label{
	color: #000;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-checkboxes .at-checkbox input[type=checkbox] + label:before{
	top: 2px;
	background: #eee;
}
.at-checkboxes .at-checkbox input[type=checkbox] + label:hover:before,
.at-checkboxes .at-checkbox input[type=checkbox]:checked + label:before{background: var(--themecolor);}
.at-checkboxes .at-checkbox input[type=checkbox] + label:after{top: 2px;}
.at-addmore{
	clear: both;
	overflow-x: hidden;
	margin: 20px -20px -20px;
}
.at-addmore .form-group{
	margin: 0;
	position: relative;
}
.at-addmore .form-group .form-control{
	height: 50px;
	padding: 10px 20px !important;
	border: 1px solid #eee !important;
}
.at-addmore .form-group a{
	top: 50%;
	right: 0;
	text-align: center;
	position: absolute;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.at-addmore .form-group i{
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.at-members{
	clear: both;
	margin: -20px;
	list-style: none;
	overflow-x: hidden;
}
.at-members li{
	width: 100%;
	float: left;
	padding: 10px 20px;
	list-style-type: none;
}
.at-members li + li{border-top: 1px solid #eee;}
.at-member{
	width: 100%;
	float: left;
}
.at-memberimg{
	margin: 0;
	width: 40px;
	float: left;
	height: 40px;
	border-radius: 50%;
}
.at-memberimg img{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: 50%;
}
.at-membercontent{
	overflow-x: hidden;
	position: relative;
	padding: 12px 0 12px 15px;
}
.at-membercontent h5{
	margin: 0;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-btncross{
	top: 50%;
	right: 0;
	font-size: 15px;
	line-height: 15px;
	position: absolute;
	color: var(--themecolor);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.at-members li.at-btnaddholder{text-align: center;}
.at-btnaddmembers{
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
	color: var(--themecolor);
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-btnaddmembers i{
	font-size: 12px;
	line-height: 12px;
	margin: 0 5px 0 0;
}
.at-btnaddmembers:hover,
.at-btnaddmembers:focus{color: var(--themecolor);}
.at-panelcontent .at-description p{
	margin: 0;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-addcarddetail,
.at-addcarddetailtwo{display: none;}
.at-addmore .at-formuploadfile{
	float: left;
	padding: 0 10px;
}
.at-addmore .at-formuploadfile input{
	display: none;
	position: static;
}
.at-addmore .form-group .at-formuploadfile label{
	margin: 0;
	cursor: pointer;
	line-height: 50px;
}
.at-addmore .at-formuploadfile label i{
	width: auto;
	height: auto;
	line-height: inherit;
}
/* =============================================
			Dashboard Style					
============================================= */
.at-detailpage{
	width: 100%;
	float: left;
}
.at-detailpage .at-contentholder{
	float: none;
	margin: 0 auto;
	max-width: 650px;
	overflow: hidden;
	background: #fff;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
.at-detailpage .at-addcard{display: block;}
.at-detailpage .at-addtittleholder,
.at-detailpage .at-addcarddetail,
.at-detailpage .at-addcarddetailtwo{
	width: 100%;
	float: left;
	display: block;
}
.at-detailpage .at-addcarddetail,
.at-detailpage .at-addcarddetailtwo{padding: 0 0 20px;}
.at-themetableholder{
	margin: 0 auto;
	max-width: 550px;
	overflow-x: hidden;
}
.at-themetableholder .table > tbody > tr > td h3{
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}
.at-formuploadfile{
	float: right;
	position: relative;
}
.at-formuploadfile i,
.at-formuploadfile span {
	line-height: inherit;
	vertical-align: middle;
	color: var(--themecolor);
	display: inline-block !important;
}
.at-formuploadfile i{margin: 0 5px 0 0;}
.at-formuploadfile input {
	left: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	height: 20px;
	position: absolute;
}
.at-btnuploadfile{
	padding: 0 30px;
	margin: 0 0 0 20px;
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	color: #fff !important;
	text-transform: capitalize;
	background: var(--themecolor);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: 400 14px/35px 'Poppins', Arial, Helvetica, sans-serif;
}
.at-btnuploadfile:focus{outline: 0;}
.at-formorganization{
	width: 100%;
	float: left;
	padding: 0 0 20px;
}
.at-formorganization span{
	color: #000;
	font-size: 14px;
	line-height: 14px;
	padding: 0 5px 0 0;
	display: inline-block;
	vertical-align: middle;
}
.at-formorganization .at-btnuploadfile{
	margin: 0;
	float: right;
}
.at-editicon,
.at-trashicon{
	width: 35px;
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	text-align: center;
	color: #fff !important;
	vertical-align: middle;
	display: inline-block !important;
	background: var(--themecolor) !important;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.at-editicon i:before,
.at-trashicon i:before{color: #fff;}
.at-editicon:focus,
.at-trashicon:focus{outline: 0;}
.at-tableadddepartment .at-btnactions li {
	float: none;
	padding: 5px 0;
	display: inline-block;
	vertical-align: middle;
}
.at-trashform{
	float: left;
	margin: 0 15px 0 0;
}
.at-formedited{
	width: 100%;
	float: left;
	text-align: center;
}










