@media (max-width:1680px){
	.at-statscontent {padding: 0 0 0 10px;}
	.at-statsicon {
		width: 46px;
		height: 46px;
		font-size: 20px;
		line-height: 49px;
	}
	.at-statscontent span {
		font-size: 14px;
		line-height: 14px;
	}
	.at-sortings .at-select select {
		font-size: 14px;
		padding: 10px 35px 10px 20px;
	}
	.at-mycontest{width: calc(25% - 30px);}
	.at-tableuserscontenders .at-actions li{padding: 0 5px;}
	.at-tableuserscontenders  table tbody tr td span{padding: 13px 0 13px 10px;}
	.at-sponsers > li{width: 50%;}
	.at-contesthead h5 {
		font-size: 25px;
		line-height: 30px;
	}
	.at-contenderwinners li {padding: 20px 10px;}
	.at-contenderwinners li .at-newpromotersimgs .at-promotersimg:nth-child(2),
	.at-contenderwinners li .at-newpromotersimgs .at-promotersimg:nth-child(3),
	.at-contenderwinners li .at-newpromotersimgs .at-promotersimg:nth-child(4),
	.at-contenderwinners li .at-newpromotersimgs .at-promotersimg:nth-child(5),
	.at-contenderwinners li .at-newpromotersimgs .at-promotersimg:nth-child(6) {margin: 0 0 0 -28px;}
	.at-btn.at-btnstopcontest{
		padding: 0 15px;
		font-size: 12px;
	}
	.at-sendnotificationsteps .steps {width: 200px;}
	.at-sendnotificationsteps .steps ul li {padding: 20px 15px;}
	.at-promotersarea .at-checkbox {width: calc(33.33% - 30px);}
	.at-promnotercontests .at-mycontests .at-mycontest {width: calc(33.33% - 30px);}
	.at-contentbox.at-newvoters .at-promotersimg,
	.at-contentbox.at-newpromoters .at-promotersimg{
		width: 30px;
		height: 30px;
	}
	.at-contentbox.at-newvoters .at-promotersimg.at-morepromoters,
	.at-contentbox.at-newpromoters .at-promotersimg.at-morepromoters{
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
}
@media (max-width:1600px){
	.at-promotersarea.at-mycontests .at-checkbox {width: calc(50% - 30px);}
}
@media (max-width:1560px){
	.at-ongoingcontest{width: 100%;}
	.at-netprofitgraphic {
		margin: 35px 0 0 0;
		width: calc(50% - 35px);
	}
	.at-newvoters,
	.at-newpromoters,
	.at-totalprofitarea {width: calc(25% - 35px);}
	.at-themetable table thead tr th span{display: block;}
	.at-request {width: calc(25% - 30px);}
	.at-fourcols .form-group {width: calc(50% - 40px);}
	.at-livewinner {max-width: 225px;}
	.at-contestlivewinner {padding: 0 250px 0 0;}
	.at-contesthead {padding: 0 0 15px;}
	.at-contesthead .at-btnsholder {
		width: 100%;
		float: left;
		position: static;
		text-align: left;
		padding: 15px 0 0;
	}
	.at-contenderwinners li {padding: 15px 10px;}
	.at-contender {width: calc(25% - 20px);}
	.at-promotersarea .at-checkbox {width: calc(50% - 30px);}
}
@media (max-width:1472px){
	.at-contenders,
	.at-contestlivewinner{width: 100%;}
	.at-winnerprofile,
	.at-onlinelivevoters,
	.at-winnershortdetail{
		width: 100%;
		padding: 25px 0 0;
	}
	.at-signinnoti {
		width: 180px;
		margin: 0 0 0 10px;
		padding: 0 0 0 15px;
	}
	.at-statsicon{display: none;}
	.at-statscontent{
		padding: 0;
		text-align: center;
	}
}
@media (max-width:1440px){
	.at-mycontest{width: calc(33.33% - 30px);}
	.at-actions li{padding: 0 5px;}
	.at-themetable table tbody tr td span {padding: 13px 0 13px 10px;}
	.at-tableresponsive{overflow-x: auto;}
	.at-themetable table{min-width: 1200px;}
	.at-threecols .form-group {width: calc(100% - 40px);}
	.at-fivecols .form-group {width: calc(50% - 40px);}
	.at-uploadfile{width: 100%;}
	.at-sponser {padding: 0 0 20px;}
	.at-searchholder .form-group{min-width: 200px;}
	.at-agegenderholder .at-age,
	.at-agegenderholder .at-gender,
	.at-calendarholder .form-group {margin: 0 5px;}
}
@media (max-width:1372px){
	.at-promnotercontests .at-mycontests .at-mycontest {width: calc(50% - 30px);}
	.at-netprofitgraphic {width: calc(100% - 35px);}
	.at-totalprofitarea{margin: 35px 0 0;}
	.at-newvoters, .at-newpromoters,
	.at-totalprofitarea {width: calc(50% - 35px);}
}
@media (max-width:1360px){
	.at-promotersarea.at-mycontests .at-checkbox {width: calc(100% - 30px);}
}
@media (max-width:1280px){
	.at-request {width: calc(33.33% - 30px);}
	.at-formcreatecontest .at-btnactions li {padding: 0 2px;}
	.at-contender {width: calc(33.33% - 20px);}
}
@media (max-width:1240px){
	.at-geocomminocatorholder {padding: 30px;}
	.at-selectedusers{
		width: 100%;
		float: left;
		height: auto;
		padding: 30px;
		margin: 30px 0 0;
		position: static;
		min-height: auto;
	}
	.at-sortarea em {padding: 0 5px 0 0;}
	.at-promotersarea.at-mycontests .at-checkbox {width: calc(50% - 30px);}

}
@media (max-width:1199px){
	.at-profileupdatedetail{
		width: 100%;
		float: left;
	}
	.at-profileupdatedetail .at-contestinfoholder{padding: 0;}
	.at-myprofile .at-contestinfoholder > ul > li{
		width: 50%;
		padding: 15px;
	}
	.at-myprofilecontent{width: 100%;}
	.at-formprofile .at-threecols .form-group {width: calc(33.33% - 40px);}
	.at-formcreatecontest .at-uploadfile.at-uploadvidoes label {margin: 0 0 20px;}
	.at-contestupdateinfo{
		width: 100%;
		float: left;
	}
	.at-formcreatecontest .at-threecols .form-group {width: calc(33.33% - 40px);}
	.at-fivecols .form-group {width: calc(33.33% - 40px);}
	.at-contestinfoholder > ul > li{width: 50%;}
	.at-createcontestholder{width: 100%;}
	.at-contestinformation .at-twocols .at-fieldholder {width: calc(100% - 40px);}
	.at-contestlivewinner{padding: 0;}
	.at-contestlivewinner .at-description,
	.at-contestlivewinner .at-contestsponsers{
		margin: 0;
		width: 100%;
		float: left;
	}
	.at-livewinner{
		max-width: none;
		position: static;
		margin: 25px 0 0;
		background-position: center center;
	}
	.at-searchholder {margin: -75px 0 0;}
	.at-agegenderholder{float: left;}
	.at-promoterdetail{
		max-width: none;
		min-height: auto;
		margin: 0 0 30px;
	}
	.at-promotername {padding: 15px 0 0;}
	.at-conteststates {padding: 15px 0 15px;}
	.at-conteststates li{padding: 10px 0;}
	.at-promnotercontests{
		padding: 0;
		width: 100%;
		float: left;
	}
	.at-statisticsholder {padding: 15px;}
	.at-statistics{margin: 0 -5px;}
	.at-statistics li{
		margin: 5px;
		width: calc(33.33% - 10px);
	}
	.at-statistic{min-height: 100px;}
}
@media (max-width:1100px){
	.at-mycontest{width: calc(50% - 30px);}
	.at-contestbottom .at-actions li {padding: 0 5px !important;}
}
@media (max-width:1080px){
	.at-formcreatecontest .at-threecols .form-group {width: calc(100% - 40px);}
	.at-userinfo {padding: 0 0 0 15px;}
	.at-userinfo h3 {
		font-size: 16px;
		line-height: 16px;
		padding: 20px 0 15px;
	}
}
@media (max-width:1024px){
	.at-request {width: calc(50% - 30px);}
}
@media (max-width:991px){
	.at-contestinfo .at-contestimg{width: 100%;}
	.at-contestnameinfo{
		width: 100%;
		float: left;
		padding: 35px 0 0;
	}
	.at-sendnotificationsteps .steps{width: 100%;}
	.at-sendnotificationsteps .steps ul{min-height: auto;}
	.at-sendnotificationsteps .steps ul li{width: 25%;}
	.at-sendnotificationsteps .steps ul li a {
		width: 100%;
		padding: 12px 35px 12px 15px;
	}
	.at-sendnotificationsteps .steps ul li a:before {right: 15px;}
	.at-sendnotificationsteps .content{
		width: 100%;
		float: left;
		margin: 30px 0 0;
	}
	.wizard > .content > .body{padding: 0;}
	.at-themenavtabs li span {
		font-size: 12px;
		line-height: 12px;
	}
}
@media (max-width:900px){
	.at-contestnavtabs{
		width: 100%;
		padding: 15px 0 0;
		text-align: center;
	}
	.at-contestnavtabs li {
		width: 25%;
		float: none;
		margin: 0 -2px;
		display: inline-block;
		vertical-align: middle;
	}
	.at-contestnavtabs li a{padding: 0;}
	.at-equalicon {padding: 16px 20px 16px 0;}
	.at-creditcard {padding: 11px 0 11px 15px;}
	.at-threecols .form-group{width: calc(100% - 40px);}
	.at-formprofile .at-threecols .form-group{width: calc(100% - 40px);}
	.at-addsponserholder .at-uploadfile {width: 100%;}
	.at-sponserinfo {
		width: 100%;
		float: left;
		padding: 30px 0 0 0;
	}
	.at-fivecols .form-group {width: calc(50% - 40px);}
	.at-contender {width: calc(50% - 20px);}
	.at-sendnotificationsteps .steps ul li {
		width: 50%;
		padding: 10px;
	}
	.at-tabcontent ul li{width: 100%;}
	.at-tabcontent ul li + li{border-top: 1px solid rgba(76, 111, 223, 0.10);}
	.at-tabcontent ul li:before{display: none;}
}
@media (max-width:800px){
	.at-mycontest{width: calc(100% - 30px);}
	.at-votcategoryicon,
	.at-setrpricebox{width: 100%;}
	.at-votcategoryicon{padding: 0 0 15px;}
	.at-votcategoryicon h4 em{
		display: inline-block;
		vertical-align: middle;
	}
	.at-votcategoryicon h4{padding: 13px 0;}
	.at-voteprice + .at-voteprice {
		padding: 30px 0 0;
		border-top: 1px solid #eee;
	}
	.at-newvoters,
	.at-newpromoters,
	.at-totalprofitarea{width: calc(100% - 35px);}
	.at-newvoters,
	.at-newpromoters{margin: 35px 0 0;}
	.at-contestuserimg {
		width: 35px;
		height: 35px;
	}
	.at-themenavtabs li span {
		width: 42px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
@media (max-width:767px){
	.at-dropdowarrow{display: block;}
	.at-nav{
		width: auto;
		float: right;
	}
	.sub-menu{
		clear: both;
		float: left;
		display: none;
		position: static;
		width: 100% !important;
	}
	.tg-navbutton{
		opacity: 1;
		visibility: visible;
	}
	.at-wrapper{padding: 0;}
	.at-logo,
	.at-btnlogout,
	.at-sidebarwrapper{left: -100%;}
	.at-content{border-radius: 40px 40px 0 0;}
	.at-themetable table{min-width: auto;}
	.at-tableresponsive thead{display: none;}
	.at-tableresponsive tbody tr td{
		width: 100%;
		float: left;
		display: block;
		position: relative;
		padding-left: calc(36% + 10px) !important;
	}
	.at-tableresponsive tbody tr td:before{
		top: 0;
		left: 0;
		width: 36%;
		color: #999;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		position: absolute;
		padding: 15px 10px;
		text-transform: uppercase;
		content: attr(data-title);
	}
	.at-sponsers > li{
		width: 100%;
		padding: 15px;
	}
	.at-sponsers > li:last-child{padding-left: 0;}
	.at-sortings{
		width: 100%;
		padding: 15px 0 0;
	}
	.at-sortings .at-select{
		padding: 0;
		width: 100%;
		margin: 7px 0;
	}
}
@media (max-width:640px){
	.at-statistics li {width: calc(50% - 10px);}
	.at-statistic {min-height: 70px;}
	.at-statscontent h3 {
		font-size: 16px;
		line-height: 16px;
	}
	.at-request,
	.at-promotersarea.at-mycontests .at-checkbox{width: calc(100% - 30px);}
	.at-statisticsholder {border-radius: 0 0 20px 20px;}
}
@media (max-width:568px){
	.at-personalinfo .at-twocols {margin: 0 -20px 0;}
	.at-twocols .at-fieldholder {
		margin: 0 20px 40px;
		width: calc(100% - 40px);
	}
	.at-fourcols .form-group {width: calc(100% - 40px);}
	.at-contestinfoholder > ul > li{width: 100%;}
	.at-contender {width: calc(100% - 20px);}
	.at-promotersarea .at-checkbox,
	.at-promnotercontests .at-mycontests .at-mycontest{width: calc(100% - 30px);}
}