*:after,
*:before,
p a,
a,
.at-socialicons li a,
.at-roundicontext,
.at-roundicontext .at-usericonholder,
.sub-menu,
.mega-menu



















{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}